:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  line-height: normal;
}

.btn:focus-visible {
  outline: 2px solid #1976d2;
  outline-offset: 1px;
}

.btn.poorFocus:focus-visible {
  outline: none;
}

.btn.default {
  background: #dddddd;
  color: #333333;
}

.btn.default:hover {
  background: #aaaaaa;
}

.btn.default[aria-pressed='true'] {
  background: #aaaaaa;
}

.btn.primary {
  background: #1976d2;
  color: #ffffff;
}

.btn.primary:hover {
  background: #005db9;
}

.btn.primary[aria-pressed='true'] {
  background: #005db9;
}

.hStack {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.vStack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrap {
  flex-wrap: wrap;
}

.adjustableFontSize {
  font-size: 1rem;
}

.nonAdjustableFontSize {
  font-size: 16px;
}

.hardCodedWidth {
  width: 800px;
}

.responsiveWidth {
  max-width: 800px;
  width: 100%;
}
